@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.author {
  &__photo {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    background-clip: padding-box;
    width: 200px;
    height: 200px;
  }

  &__title {
    font-size: $typographic-base-font-size * 2;
    font-weight: 600;
    @include line-height(1.125);
    margin-top: 32px;

    &-link {
      color: $color-base;

      &:hover,
      &:focus {
        color: $color-base
      }

    }

  }

  &__subtitle {
    color: $color-gray;
    @include line-height(1);
    @include margin-bottom(1)
  }

}
