<div id="landing-container" class="landing">
    <div class="intro">
        <div class="intro-text">
            <p>I'm a Full-Stack Web Developer with a passion for creating incredible web applications</p>
            <p>I am currently an Associate Software Engineer at CA Technologies in New York</p>
        </div>
        <div class="sunny-landing-image">
        </div>
    </div>
    <div class="recent-projects">
        <p>Recent Projects</p>
        <div class="project-list">
            <div class="project" id="project1" onclick="window.location='https://github.com/sunnymis/Stack-OnTop';">
                <a></a>
            </div>
            <div class="project" id="project2" onclick="window.location='https://github.com/sunnymis/Binger';">

            </div>
            <div class="project" id="project3" onclick="window.location='https://github.com/sunnymis/Swoleciety';">

            </div>
        </div>
    </div>
</div>