<div id="landing-container">
    <section class="landing">
        <div class="landing-container">
            <div class="landing-content">
                <h1>SUNNY MISTRY</h1>
                <h2>Full Stack Web Developer</h2>
                <ul class="social-media-list">
                    <li><a href="https://github.com/sunnymis"><img src="{{site.baseurl}}/src/icons/svg/github-icon-white.png"/></a></li>
                    <li><a href="https://www.linkedin.com/in/sunnymistry"><img src="{{site.baseurl}}/src/icons/svg/linkedin.svg"/></a></li>
                    <li><a href="mailto:sunnyvmistry@gmail.com"><img src="{{site.baseurl}}/src/icons/svg/gmail.svg"/></a></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="about" id="about" >
        <div class="content-wrapper">
            <h2 class="section-title">About Me</h2>
            <div class="about-content">
                <div class="about-text">
                    <h3>Sunny Mistry</h3>
                    <h4>Software Engineer | Full Stack Web Developer</h4>
                    <p>I am a Software Engineer from Long Island, New York with a passion for making incredible web applications. Currently I am a developer at CA Technologies, where I am immersing myself in the world of JavaScript and learning the latest web technologies. Outside of work you can find me at the gym, picking up heavy things and putting them back down. If you want to get to know more about me or want to work on a project together, feel free to contact me on sunnyvmistry at gmail.com. </p>
                    <!--<a href="#" class="about-btn">Download Resume</a>-->
                </div>
                <div class="sunny-image"></div>
            </div>
        </div>
    </section>
    <section class="skills">
        <div class="skills-container">
            <h2 class="section-title">Skills</h2>
            <div class="logos">


                    <div class="logo-container javascript" tabindex="0"><img class="logo-img" src="../src/img/logos/javascript-logo.png" /></div>
                    <div class="logo-container html5" tabindex="0"><img class="logo-img" src="../src/img/logos/html5-logo.png" /></div>
                    <div class="logo-container css3" tabindex="0"><img class="logo-img" src="../src/img/logos/css3-logo.png" /></div>
                    <div class="logo-container sass" tabindex="0"><img class="logo-img" src="../src/img/logos/sass-logo.svg" /></div>
                    <div class="logo-container angular" tabindex="0"><img class="logo-img" src="../src/img/logos/angular-logo.png" /></div>
                    <div class="logo-container react" tabindex="0"><img class="logo-img" src="../src/img/logos/react-logo.png" /></div>

                    <div class="logo-container nodejs" tabindex="0"><div class="horizontal-img"><img class="logo-img" src="../src/img/logos/nodejs-logo.png" id="nodejs" /></div></div>
                    <div class="logo-container express" tabindex="0"><div class="horizontal-img"><img class="logo-img" src="../src/img/logos/expressjs.png" id="express"/></div></div>
                    <div class="logo-container bootstrap" tabindex="0"><img class="logo-img" src="../src/img/logos/bootstrap-logo.svg" /></div>
                    <div class="logo-container jquery" tabindex="0"><div class="horizontal-img"><img class="logo-img" src="../src/img/logos/jquery-logo.png" id="jquery"/></div></div>

                    <div class="logo-container webpack" tabindex="0"><img class="logo-img" src="../src/img/logos/webpack-logo.png" /></div>
                    <div class="logo-container grunt" tabindex="0"><img class="logo-img" src="../src/img/logos/grunt-logo.png" /></div>
                    <div class="logo-container gulp" tabindex="0"><div class="vertical-img"><img class="logo-img" src="../src/img/logos/gulp-logo.svg" id="gulp"/></div></div>
                    <div class="logo-container jasmine" tabindex="0"><div class="horizontal-img"><img class="logo-img" src="../src/img/logos/jasmine-logo.png" id="jasmine"/></div></div>
                    <div class="logo-container karma" tabindex="0"><div class="horizontal-img"><img class="logo-img" src="../src/img/logos/karma-logo.png" /></div></div>

                    <div class="logo-container firebase" tabindex="0"><img class="logo-img" src="../src/img/logos/firebase-logo.png" id="firebase"/></div>

                    <div class="logo-container mysql"><img class="logo-img" src="../src/img/logos/mysql-logo.png" /></div>


            </div>
            <!--<div class="column fundamentals">-->
                <!--<h3>Fundamentals</h3>-->
                <!--<div class="skill-column">-->
                    <!--<ul>-->
                        <!--<li>JavaScript</li>-->
                        <!--<li>HTML5</li>-->
                        <!--<li>CSS3</li>-->
                        <!--<li>Node.js</li>-->
                        <!--<li>MySQL</li>-->
                        <!--<li>Firebase</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="column libraries">-->
                <!--<h3>Libraries & Frameworks</h3>-->
                <!--<div class="skill-column">-->
                    <!--<ul>-->
                        <!--<li>Angular</li>-->
                        <!--<li>React</li>-->
                        <!--<li>Express</li>-->
                        <!--<li>Jasmine</li>-->
                        <!--<li>Karma</li>-->
                        <!--<li>jQuery</li>-->
                        <!--<li>Bootstrap</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="column build">-->
                <!--<h3>Build Tools</h3>-->
                <!--<div class="skill-column">-->
                    <!--<ul>-->
                        <!--<li>Webpack</li>-->
                        <!--<li>Grunt</li>-->
                        <!--<li>Gulp</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->


        </div>
    </section>
    <section class="work">
        <div class="content-wrapper">
        <h2 class="section-title">Work History</h2>
        <ul class="timeline">
            <li>
                <div class="timeline-section right">
                    <div class="content-card">
                        <p class="content-card-title">CA Technologies</p>
                        <p class="content-card-date">Associate Software Engineer | 06/2016 - Present</p>
                        <p class="content-card-description">Accelerated application development by building UI component
                            libraries for both React and Angular 2</p>
                        <p class="content-card-description"></p>
                        <div class="content-card-skills-list">
                            <span>JavaScript</span>
                            <span>HTML</span>
                            <span>CSS</span>
                            <span>Angular</span>
                            <span>Angular 2</span>
                            <span>React</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-section left">
                    <div class="content-card">
                        <p class="content-card-title">University at Buffalo</p>
                        <p class="content-card-date">Graduate | 08/2011 - 05/2016</p>
                        <p class="content-card-description">Go Bulls!</p>
                        <p class="content-card-description">Graduated with a bachelor's and master's in Computer
                            Science.</p>
                        <div class="content-card-skills-list">
                            <span>C</span>
                            <span>C++</span>
                            <span>Java</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-section right">
                    <div class="content-card">
                        <p class="content-card-title">Liazon</p>
                        <p class="content-card-date">Software Engineer Intern | 09/2015 - 05/2016</p>
                        <p class="content-card-description">Developed new features for their private benefits exchange
                            platform. Enabled more users to effectively use their platform by adding new medical insurance
                            features.</p>
                        <div class="content-card-skills-list">
                            <span>C#</span>
                            <span>JavaScript</span>
                            <span>ASP.NET</span>
                            <span>MySQL</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-section left">
                    <div class="content-card">
                        <p class="content-card-title">Northrop Grumman Corporation</p>
                        <p class="content-card-date">Software Engineer Intern | Summer 2014</p>
                        <p class="content-card-description">Led a team to build a desktop application which enabled users to
                            monitor the status of integrated circuit production in relation to their schedules near real
                            time</p>
                        <div class="content-card-skills-list">
                            <span>C#</span>
                            <span>MySQL</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-section right">
                    <div class="content-card">
                        <p class="content-card-title">Northrop Grumman Corporation</p>
                        <p class="content-card-date">Software Engineer Intern | Summer 2013</p>
                        <p class="content-card-description">
                            Developed an inventory management program to enable employees to see the status of their
                            stockrooms
                        </p>
                        <div class="content-card-skills-list">
                            <span>C#</span>
                            <span>MySQL</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
            </div>
    </section>
    <section class="projects" id="portfolio">
        <div class="content-wrapper">
        <h2 class="section-title">Projects</h2>
        <div>
            <div class="portfolio-content">
                <div class="row">
                    <div class="content-row">
                        <div class="project-description">
                            <a href="https://github.com/sunnymis/Stack-OnTop"><h2>Stack OnTop</h2></a>
                            <p>Stack OnTop allows you to quickly browse Stack Overflow posts for the answers you are looking for. The Chrome extension automatically moves the accepted answer to the top of
                                the page; saving you from those time-wasting scrolls.</p>
                        </div>
                        <div class="project-image">
                            <a href="https://github.com/sunnymis/Stack-OnTop"><img src="{{site.baseurl}}/src/img/stackontop.png"/></a>
                        </div>
                    </div>
                </div>
<!--                 <div class="row">
                    <div class="content-row">
                        <div class="project-description right">
                            <a href="https://github.com/sunnymis/Binger"><h2 class="right">Binger</h2></a>
                            <p>Binger allows you to keep track of the shows you are currently binge watching, the shows you've
                                finished watching and those you want to watch next! Find shows to watch by browsing thousands of
                                titles and seeing what your friends have watched.</p>
                        </div>
                        <div class="project-image left">
                            <a href="https://github.com/sunnymis/Binger"><img class="large-width"
                                                                              src="{{site.baseurl}}/src/img/binger1.png"/></a>
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="content-row">
                        <div class="project-description right">
                            <a href="https://github.com/sunnymis/Swoleciety"><h2>Swoleciety</h2></a>
                            <p>Swoleciety lets you browse through exercises, schedule your workouts, and track the sets and reps
                                you performed each day.</p>
                        </div>
                        <div class="project-image left">
                            <a href="https://github.com/sunnymis/Swoleciety"><img class="large-width"
                                                                                  src="{{site.baseurl}}/src/img/Swoleciety-Logo-1x.png"/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
    </section>
</div>