<header class="navigation-header">
    <div class="header-title">
        <a href="{{ site.url }}">
            <span id="sunny-name">SUNNY MISTRY</span>
        </a>
    </div>

    <nav class="navigation">
        <ul class="navigation-list">
            <li>
                <a href="{{ site.url }}/#about" onclick="closeMobileNav()">
                    <span>About</span>
                </a>
            </li>
            <li>
                <a href="{{ site.url }}/#portfolio" onclick="closeMobileNav()">
                    <span>Portfolio</span>
                </a>
            </li>
            <li>
                <a href="{{ site.url}}/blog">
                    <span>Blog</span>
                </a>
            </li>
        </ul>
    </nav>
    <span class="hamburger-icon" onclick="onHamburgerClick()">&#9776;</span>
</header>