<header class="navigation-header">
    <div class="header-title">
        <a href="{{ site.url }}">
            <span id="sunny-name">SUNNY MISTRY</span>
        </a>
    </div>

    {% assign pages = site.pages | sort:"weight"  %}
    <nav>
        <ul class="side-nav-list">
            {% for page in pages | sort:"weight" %} {% if page.title %}
            <li>
                <a href="{{ page.url | prepend: site.baseurl }}">
                    <span>{{ page.title }}</span>
                </a>
            </li>
            {% endif %} {% endfor %}
        </ul>
    </nav>
    <!--<span class="hamburger-icon" onclick="onHamburgerClick()">&#9776;</span>-->
    <!--<ul class="social-media-list">-->
        <!--<li><a href="https://github.com/sunnymis"><img src="{{site.baseurl}}/src/icons/svg/github.svg"/></a></li>-->
        <!--<li><a href="https://www.linkedin.com/in/sunnymistry"><img src="{{site.baseurl}}/src/icons/svg/linkedin.svg"/></a></li>-->
        <!--<li><a href="https://twitter.com/sunnyvmistry"><img src="{{site.baseurl}}/src/icons/svg/twitter.svg"/></a></li>-->
        <!--<li><a href="mailto:sunnyvmistry@gmail.com"><img src="{{site.baseurl}}/src/icons/svg/gmail.svg"/></a></li>-->
    <!--</ul>-->
</header>