$white: #fff;
$black: #000;

$main-bg-color: #000;
$secondary-color: dodgerblue;
$gradient-gray: #BDC3C7;
$border-gray: #E8E8E8;
$border-gray-dark: #696969;
$opaque-black8: rgba(0,0,0,0.8);
$opaque-black3: rgba(0,0,0,0.3);


$header-color: #212121;
$card-date-color: #757575;


