$white: #fff;
$black: #000;

$primary-color: #000;
$secondary-color: #212121;
$tertiary-color: dodgerblue;
$gradient-gray: #BDC3C7;
$border-gray: #E8E8E8;
$border-gray-dark: #696969;
$opaque-black8: rgba(0,0,0,0.8);
$opaque-black3: rgba(0,0,0,0.3);

$inline-code-color: #E74B3C;
$inline-code-bg: #FAF9F9;
$inline-code-border: #EBEAEA;

$quote-font-color: #ADA8A8;

$card-date-color: #757575;

$date-gray: #ada8a8;
$blog-light-black: #615b5b;

$timeline-circle-color: #fff;
$timeline-circle-border-color: #000;

$angular: #1976d2;