@import 'colors';

.about {
    position: relative;

    .about-content {
        width: 50%;
        margin: 0 auto;
        position: relative;

        /* Large Devices, Wide Screens */
        @media only screen and (max-width : 1440px) {
            width: 75%;
        }
        /* Large Devices, Wide Screens */
        @media only screen and (max-width : 1200px) {
            width: 100%;
        }

        .sunny-image {
            display: inline-block;
            width: 39%;
            height: 500px;
            background-image: url(../src/img/sunnyNoBG.png);
            background-size: auto 500px;
            background-repeat: no-repeat;

            /* Large Devices, Wide Screens */
            @media only screen and (max-width : 1440px) {
                width: 320px;
                margin-left: 80px;
            }
            @media
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi) {
                /* Retina-specific stuff here */
                margin-left: 0;
            }
            /* Large Devices, Wide Screens */
            @media only screen and (max-width : 1200px) {
                margin: 0;
                width: 30%;
            }
            /* Small Devices, Tablets */
            @media only screen and (max-width : 768px) {
                width: 40%;
            }
            /* Extra Small Devices, Phones */
            @media only screen and (max-width : 480px) {
                transform: translateY(-490px);
                width: 90%;
                margin-left: 30px;
            }
            /* Extra Small Devices, Phones */
            @media only screen and (max-width : 375px) {
                transform: translateY(-540px);
                margin-left: 20px;
            }
        }

        .about-text {
            width: 60%;
            display: inline-block;
            vertical-align: top;
            position: relative;
            top: 40px;
            /* Very Large Devices, Wide Screens */
            @media only screen and (max-width : 2560px) {
                top: 40px;
            }
            /* Large Devices, Wide Screens */
            @media only screen and (max-width : 1440px) {
                top: 40px;
            }
            /* Large Devices, Wide Screens */
            @media only screen and (max-width : 1200px) {
                margin-left: 50px;
            }
            /* Small Devices, Tablets */
            @media only screen and (max-width : 768px) {
                width: 50%;
            }
            /* Extra Small Devices, Phones */
            @media only screen and (max-width : 480px) {
                transform: translateY(445px);
                width: 100%;
                margin: 0 auto;
                text-align: center;
                p {
                    text-align: left;
                    margin: 0 20px;
                }
            }

            h3 {
                font-size: 2em;
                margin-bottom: 0;
                font-weight: normal;
            }
            h4 {
                font-size: 1.5em;
                margin-top: 10px;
                font-weight: normal;
                margin-bottom: 50px;
                /* Small Devices, Tablets */
                @media only screen and (max-width : 768px) {
                    margin-bottom: 30px;
                }
            }
            p {
                display: inline-block;
                font-size: 1.2em;
                line-height: 1.5;
                margin-bottom: 50px;
                /* Small Devices, Tablets */
                @media only screen and (max-width : 768px) {
                    font-size: 1em;
                }
            }
            a {
                color: white;
                padding: 20px 30px;
                background-color: black;
                border-radius: 3px;
                /* Small Devices, Tablets */
                @media only screen and (max-width : 768px) {
                    position: relative;
                    top: -10px;
                }
            }
        }
    }
}
