@import 'colors';

#blog-container {
  padding-top: 120px;
  width: 50%;
  margin: 0 auto;
  /* Extra Small Devices, Phones */
  @media only screen and (max-width: 480px) {
    width: 100%;
  }

  .blog-list-container {
    .blog-post {
      margin: 50px auto 50px auto;
      width: 50%;
      padding-bottom: 50px;
      border-bottom: 1px solid #ebeaea;

      /* Extra Small Devices, Phones */
      @media only screen and (max-width: 480px) {
        width: 90%;
      }

      .blog-post-title {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 20px;
        a {
          color: $black;
        }
      }

      time {
        position: relative;
        top: -15px;
        color: $date-gray;
      }
      .blog-post-description {
        position: relative;
        top: -10px;
        margin-top: 20px;
        color: $blog-light-black;
        line-height: 1.5;
      }
      ul {
        box-sizing: border-box;
        width: 100%;
        padding: 0;
      }
    }
    .tags {
      float: right;
      margin-right: 50px;
      box-sizing: border-box;

      .blog-post-tag {
        display: block;
        &:hover, &:focus {
          cursor: pointer;
          background-color: $secondary-color;
          color: $gradient-gray;
        }
        /* Extra Small Devices, Phones */
        @media only screen and (max-width : 480px) {
          display: inline-block;
        }
      }

      /* Extra Small Devices, Phones */
      @media only screen and (max-width : 480px) {
        float: none;
        width: 100%;
        padding-left: 20px;
      }
    }
    #show-all {
      list-style: none;
      position: relative;
      top: 10px;
      text-decoration: underline;
      
      &:hover {
        cursor: pointer;
      }
    }
    .blog-post-tag {
      display: inline-block;
      border: 1px solid $border-gray;
      background-color: $secondary-color;
      opacity: 0.8;
      color: $white;
      padding: 5px 10px;
      box-sizing: border-box;
      margin-right: 10px;
      margin-top: 10px;

      &.active {
        color: $black;
        background-color: $gradient-gray;
      }
      &:hover {
        cursor: pointer;
        color: $gradient-gray;
      }
    }
  }
}
