@import 'colors';

#blog-container {
  padding-bottom: 100px;
  /* Extra Small Devices, Phones */
  @media only screen and (max-width: 480px) {
    width: 100%;
  }
  .blog-header {
    background-color: $secondary-color;
    color: $white;
    padding: 50px;
    text-align: center;
    h1 {
      font-size: 3em;
    }
    /* Large Devices, Wide Screens */
    @media only screen and (max-width: 1200px) {
      padding: 50px 0 0 0;
    }
    /* Small Devices, Tablets */
    @media only screen and (max-width: 768px) {
      padding: 50px 0 0 0;
    }
    /* Extra Small Devices, Phones */
    @media only screen and (max-width: 480px) {
      padding: 50px 0 0 0;
    }
  }
  .blog-list-container {
    .blog-post {
      margin: 50px auto 50px auto;
      width: 50%;
      padding-bottom: 50px;
      border-bottom: 1px solid #ebeaea;

      .blog-post-title {
        font-size: 1.5rem;
        font-weight: 500;
        a {
          color: $black;
        }
      }

      time {
        position: relative;
        top: -15px;
        color: $date-gray;
      }
      .blog-post-description {
        position: relative;
        top: -10px;
        color: $blog-light-black;
        line-height: 1.5;
      }
      .blog-post-category {
        display: inline-block;
        border: 1px solid $border-gray;
        background-color: $secondary-color;
        opacity: 0.8;
        color: $white;
        padding: 5px 10px;
        box-sizing: border-box;
        margin-right: 10px;
        margin-top: 10px;
      }
    }
  }
}
