@import 'colors';

/* Very Large Devices, Wide Screens */
@media only screen and (max-width : 2560px) {  }
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1440px) {  }
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {  }
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {  }
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {  }
/* Extra Small Devices, Phones */
@media only screen and (max-width : 375px) {  }


/**
  COMMON STYLES
*/
.section-title {
    font-size: 3em;
    padding: 50px 0;
    text-align: center;
}


.landing {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../src/img/wood-desk.png");
    background-size: cover;

    .landing-container {
        position: relative;
        top: 40%;

        .landing-content {
            margin: 0 auto;
            width: 50%;
            text-align: center;
            font-family: 'Simplifica', sans-serif;
            display: block;
            color: #fff;

            h1 {
                font-size: 4em;
                letter-spacing: 15px;
            }
            h2 {
                font-size: 2em;
                letter-spacing: 10px;
                margin-top: 40px;
            }

            /* Large Devices, Wide Screens */
            @media only screen and (max-width : 1440px) {
                width: 80%;
            }
            /* Large Devices, Wide Screens */
            @media only screen and (max-width : 1200px) {
                width: 80%;
            }
            /* Small Devices, Tablets */
            @media only screen and (max-width : 768px) {
                width: 100%;
                h1 {  font-size: 3em;  }
                h2 {  font-size: 2em;  }
            }
            /* Extra Small Devices, Phones */
            @media only screen and (max-width : 480px) {
                width: 100%;
                h1 { font-size: 3em; }
                h2 { font-size: 1.5em; }

            }
        }

        .social-media-list {
            margin: 100px auto 0 auto;

            li {
                display: inline-block;
                width: 20%;
            }

            img {
                height: 50px;
                width: 50px;
                @media only screen and (max-width : 480px) {
                    height: 35px;
                    width: 35px;
                }
            }
        }
    }
}



.about {
    position: relative;

    .about-content {
        width: 50%;
        margin: 0 auto;
        position: relative;

        /* Large Devices, Wide Screens */
        @media only screen and (max-width : 1440px) {
            width: 75%;
        }
        /* Large Devices, Wide Screens */
        @media only screen and (max-width : 1200px) {
            width: 100%;
        }

        .sunny-image {
            display: inline-block;
            width: 39%;
            height: 500px;
            background-image: url(../src/img/sunnyNoBG.png);
            background-size: auto 500px;
            background-repeat: no-repeat;
            /* Large Devices, Wide Screens */
            @media only screen and (max-width : 1440px) {
                width: 320px;
                margin-left: 80px;
            }
            /* Large Devices, Wide Screens */
            @media only screen and (max-width : 1200px) {
                margin: 0;
                width: 30%;
            }
            /* Small Devices, Tablets */
            @media only screen and (max-width : 768px) {
                width: 40%;
            }
            /* Extra Small Devices, Phones */
            @media only screen and (max-width : 480px) {
                transform: translateY(-440px);
                width: 80%;
                margin-left: 30px;
            }
            /* Extra Small Devices, Phones */
            @media only screen and (max-width : 375px) {
                transform: translateY(-470px);
                margin-left: 20px;
            }



        }
        .about-text {
            width: 60%;
            display: inline-block;
            vertical-align: top;
            position: relative;
            top: 100px;

            /* Large Devices, Wide Screens */
            @media only screen and (max-width : 1200px) {
                margin-left: 50px;
            }
            /* Small Devices, Tablets */
            @media only screen and (max-width : 768px) {
                width: 50%;
            }
            /* Extra Small Devices, Phones */
            @media only screen and (max-width : 480px) {
                transform: translateY(375px);
                width: 100%;
                margin: 0 auto;
                text-align: center;
                p {
                    text-align: left;
                    margin: 0 20px;
                }
            }

            h3 {
                font-size: 2em;
                margin-bottom: 0;
                font-weight: normal;
            }
            h4 {
                font-size: 1.5em;
                margin-top: 10px;
                font-weight: normal;
                margin-bottom: 50px;
            }
            p {
                display: inline-block;
                font-size: 1.2em;
                line-height: 1.5;
                margin-bottom: 50px;
            }
            a {
                color: white;
                padding: 20px 30px;
                background-color: black;
                border-radius: 3px;
            }
        }


    }
}

.skills {
    background-color: rgba(221,221,221,0.4);;

    .skills-container {
        width: 60%;
        margin: 0 auto;
        /* Large Devices, Wide Screens */
        @media only screen and (max-width : 1440px) {
            width: 100%;
        }
        /* Large Devices, Wide Screens */
        @media only screen and (max-width : 1200px) {
            width: 100%;
        }

        .column {
            display: inline-block;
            width: 32%;
            vertical-align: top;
            text-align: center;

            &.fundamentals, &.build {
                /* Small Devices, Tablets */
                @media only screen and (max-width : 768px) {
                    h3 {
                        margin-bottom: 33px;
                    }
                }
            }

            /* Extra Small Devices, Phones */
            @media only screen and (max-width : 480px) {
                width: 45%;
            }
        }

        .skill-column {
            display: block;
            vertical-align: top;
            text-align: center;

            /* Extra Small Devices, Phones */
            @media only screen and (max-width : 480px) {
                font-size: 1em;
                width: 100%;
            }
        }

        h3 {
            text-align: center;;
            font-size: 2em;
            font-weight: normal;

            /* Large Devices, Wide Screens */
            @media only screen and (max-width : 1440px) {
                font-size: 1.5em;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            line-height: 3;
            font-size: 1.5em;
            /* Large Devices, Wide Screens */
            @media only screen and (max-width : 1440px) {
                font-size: 1em;
            }
        }
    }
}

.work {
    h2 {
        text-align: center;
        padding: 50px;
        font-size: 2em;
    }
    .timeline {
        position: relative;
        padding: 0 1px 100px 1px;
        list-style-type: none;
        margin: 0;

        /* This styles the vertical bar */
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            width: 5px;
            background: $black;
            z-index: 5;
            /* Small Devices, Tablets */
            @media only screen and (max-width : 768px) {
                z-index: 1
            }
            /* Extra Small Devices, Phones */
            @media only screen and (max-width : 480px) {
                z-index: 1;
            }
        }

        li {
            position: relative;
            padding: 3em 0;
            width: 1px;
            margin: 0 auto;

            &:after {
                content: '';
                display: block;
                height: 0;
                padding-bottom: 200px;
                clear: both;
                /* Large Devices, Wide Screens */
                @media only screen and (max-width : 1200px) {
                    padding: 5em 0;
                }
                /* Small Devices, Tablets */
                @media only screen and (max-width : 768px) {
                    padding: 2em 0;
                }
                /* Extra Small Devices, Phones */
                @media only screen and (max-width : 480px) {
                    padding: 2em 0;
                }
            }

            .timeline-section {
                position: absolute;
                width: 400px;
                border: 1px solid $border-gray;
                border-radius: 2px;
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                background-color: $white;
                padding-bottom: 20px;
                box-sizing: border-box;;

                /* Large Devices, Wide Screens */
                @media only screen and (max-width : 1200px) {
                    width: 250px;
                }
                /* Small Devices, Tablets */
                @media only screen and (max-width : 768px) {
                    z-index: 3;
                    width: 400px;
                    position: relative;
                    top: 0;
                    left: 0;
                }
                /* Extra Small Devices, Phones */
                @media only screen and (max-width : 480px) {
                    z-index: 3;
                    position: relative;
                    width: 370px;
                    top: 0;
                    left: 0;
                }
                /* Really Extra Small Devices, Phones */
                @media only screen and (max-width : 375px) {
                    width: 350px;
                }

                /* This styles the circles in the timeline bar*/
                &:before {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 30px;
                    height: 30px;
                    background: $timeline-circle-color;
                    border-radius: 50%;
                    border: 3px solid $timeline-circle-border-color;
                    z-index: 10;
                }

                .content-card {

                    .content-card-title {
                        text-align: center;
                        font-weight: normal;
                        font-size: 1.5em;
                        &:after {
                            content: '';
                            display: block;
                            border-bottom: 1px solid $border-gray;
                            width: 75%;
                            margin: 0 auto;
                        }
                    }

                    .content-card-date {
                        position: relative;
                        top: 7px;
                        left: 10px;
                        margin-bottom: 30px;
                        font-style: italic;
                        text-align: center;
                        color: $card-date-color;
                    }

                    .content-card-description {
                        font-size: 18px;
                        box-sizing: border-box;
                        padding: 0 20px;
                        margin-bottom: 20px;
                        line-height: 1.5em;
                    }

                    .content-card-skills-list {
                        padding-left: 10px;
                        text-align: center;
                        span {
                            display: inline-block;
                            border: 1px solid $border-gray;
                            background-color: $secondary-color;
                            opacity: 0.8;
                            color: $white;
                            padding: 5px 10px;
                            box-sizing: border-box;
                            margin-right: 10px;
                            margin-top: 10px;
                        }
                    }
                }
            }

            .timeline-section.right {
                left: 100px;
                &:before {
                    top: 45%;
                    left: -113px;
                    /* Small Devices, Tablets */
                    @media only screen and (max-width : 768px) {
                        top: -25%;
                        left: 166px;
                    }
                    /* Extra Small Devices, Phones */
                    @media only screen and (max-width : 480px) {
                        top: -26%;
                        left: 167px;
                    }
                    /* Really Extra Small Devices, Phones */
                    @media only screen and (max-width : 375px) {
                        top: -26%;
                        left: 167px;
                    }
                }

                /* Small Devices, Tablets */
                @media only screen and (max-width : 768px) {
                    top: 50px;
                    left: -180px;
                }
                /* Extra Small Devices, Phones */
                @media only screen and (max-width : 480px) {
                    top: 50px;
                    left: -180px;
                }
            }

            .timeline-section.left {
                right: 100px;
                &:before {
                    position: absolute;
                    top: 45%;
                    right: -118px;
                    /* Small Devices, Tablets */
                    @media only screen and (max-width : 768px) {
                        top: -25%;
                        left: 166px;
                    }
                    /* Extra Small Devices, Phones */
                    @media only screen and (max-width : 480px) {
                        top: -26%;
                        left: 167px;
                    }
                    /* Really Extra Small Devices, Phones */
                    @media only screen and (max-width : 375px) {
                        top: -26%;
                        left: 167px;
                    }
                }
                /* Small Devices, Tablets */
                @media only screen and (max-width : 768px) {
                    top: 50px;
                    left: -180px;
                }
                /* Extra Small Devices, Phones */
                @media only screen and (max-width : 480px) {
                    top: 50px;
                    left: -180px;
                }
            }

        }
    }
}

.projects {
    background-color: rgba(221,221,221,0.4);;
    h2 {
        text-align: center;
        padding: 50px;
        font-size: 2em;
    }
    .portfolio-content {
        width: 80%;
        margin: 0 auto;
        .row {
            display: inline-block;
            margin: 0 auto;
            padding-bottom: 100px;
            &:last-child {
                &:after {
                    border: none;
                }
            }
            &:after {
                content: '';
                display: block;
                position: relative;
                top: 75px;
                width: 50%;
                margin: 0 auto;
                border-bottom: 1px solid $border-gray;
            }
            .content-row {
                display: inline-block;
                .project-description {
                    vertical-align: top;
                    box-sizing: border-box;
                    float: left;
                    width: 50%;
                    padding: 0 3em;
                    /* Large Devices, Wide Screens */
                    @media only screen and (max-width : 1200px) {
                        width: 60%;
                    }
                    /* Extra Small Devices, Phones */
                    @media only screen and (max-width : 480px) {
                        width: 100%;
                    }
                    a {
                        text-decoration: none;
                        color: $black;
                    }
                    h2 {
                        font-size: 1.5rem;
                        font-weight: 500;
                        box-sizing: border-box;
                    }
                    &.right {
                        float: right;
                    }
                    p {
                        font-size: 1rem;
                        margin-top: 0;
                        line-height: 1.8em;
                        /* Large Devices, Wide Screens */
                        @media only screen and (max-width : 1200px) {
                            font-size: 1rem;
                        }
                    }
                }
                .project-image {
                    box-sizing: border-box;
                    float: right;
                    width: 40%;
                    padding: 0 3em;
                    vertical-align: top;
                    margin-top: 70px;
                    &.left {
                        float: left;
                        /* Large Devices, Wide Screens */
                        @media only screen and (max-width : 1200px) {
                            padding: 0 3em;
                        }
                        /* Small Devices, Tablets */
                        @media only screen and (max-width : 768px) {
                            padding: 0 3em;
                        }
                        /* Extra Small Devices, Phones */
                        @media only screen and (max-width : 480px) {
                            float: none;
                            margin: 0 auto;
                            padding: 0;
                            width: 300px;
                        }
                    }
                    /* Large Devices, Wide Screens */
                    @media only screen and (max-width : 1200px) {
                        padding-left: 0;
                    }
                    /* Small Devices, Tablets */
                    @media only screen and (max-width : 768px) {
                        padding-left: 0;
                    }
                    /* Extra Small Devices, Phones */
                    @media only screen and (max-width : 480px) {
                        float: none;
                        margin: 0 auto;
                        padding: 0;
                        width: 300px;
                    }
                    img {
                        height: 250px;
                        width: 250px;
                        &.large-width {
                            width: 350px;
                            /* Large Devices, Wide Screens */
                            @media only screen and (max-width : 1200px) {
                                width: 250px;
                            }
                            /* Small Devices, Tablets */
                            @media only screen and (max-width : 768px) {
                                width: 200px;
                            }
                            /* Extra Small Devices, Phones */
                            @media only screen and (max-width : 480px) {
                                height: 250px;
                                width: 300px;
                            }
                        }
                        /* Large Devices, Wide Screens */
                        @media only screen and (max-width : 1200px) {
                            height: 150px;
                            width: 150px;
                        }
                        /* Small Devices, Tablets */
                        @media only screen and (max-width : 768px) {
                            height: 150px;
                            width: 150px;

                        }
                    }
                }
            }

        }
    }
}