@import 'colors';


.landing {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../src/img/wood-desk-large.png");
    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../src/img/wood-desk-mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    background-size: cover;

    .landing-container {
        position: relative;
        top: 40%;

        .landing-content {
            margin: 0 auto;
            width: 50%;
            text-align: center;
            font-family: 'Simplifica', sans-serif;
            display: block;
            color: #fff;

            h1 {
                font-size: 4em;
                letter-spacing: 15px;
            }
            h2 {
                font-size: 2em;
                letter-spacing: 10px;
                margin-top: 40px;
            }

            /* Large Devices, Wide Screens */
            @media only screen and (max-width : 1440px) {
                width: 80%;
            }
            /* Large Devices, Wide Screens */
            @media only screen and (max-width : 1200px) {
                width: 80%;
            }
            /* Small Devices, Tablets */
            @media only screen and (max-width : 768px) {
                width: 100%;
                h1 {  font-size: 3em;  }
                h2 {  font-size: 2em;  }
            }
            /* Extra Small Devices, Phones */
            @media only screen and (max-width : 480px) {
                width: 100%;
                h1 { font-size: 3em; }
                h2 { font-size: 1.5em; }

            }
        }

        .social-media-list {
            margin: 100px auto 0 auto;

            li {
                display: inline-block;
                width: 20%;
            }

            img {
                height: 50px;
                width: 50px;
                @media only screen and (max-width : 480px) {
                    height: 35px;
                    width: 35px;
                }
            }
        }
    }
}

