@import 'colors';


html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

* { margin: 0; padding: 0; }

body {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
    &:link {
        text-decoration: none;
    }
    &:active {
        text-decoration: none;
    }
}

.content-container {
    position: absolute;
    top: 0;
}

@font-face {
    font-family: 'Simplifica';
    src: url('../src/fonts/simplifica.ttf') format('truetype');
}
