@import 'colors';

.navigation-header {
    position: fixed;
    left: 0;
    z-index: 9999;
    display: block;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;


    .header-title {
        position: relative;
        display: inline-block;
        color: $white;
        font-family: 'Simplifica', sans-serif;
        font-size: 50px;
        letter-spacing: 15px;
        &:hover {
            cursor: pointer;
        }

        /* Very Large Devices, Wide Screens */
        @media only screen and (max-width : 2560px) {
            left: 20%;
        }
        /* Large Devices, Wide Screens */
        @media only screen and (max-width : 1440px) {
            top: 10px;
            left: 55px;
        }
        /* Large Devices, Wide Screens */
        @media only screen and (max-width : 1200px) {

        }
        /* Small Devices, Tablets */
        @media only screen and (max-width : 768px) {
            font-size: 40px;
            left: 25px;
        }
        /* Extra Small Devices, Phones */
        @media only screen and (max-width : 480px) {
            font-size: 30px;
        }
        /* Extra Small Devices, Phones */
        @media only screen and (max-width : 375px) {
            font-size: 25px;
        }
    }

    .navigation {
        display: inline-block;
        position: relative;
        float: right;

        /* Very Large Devices, Wide Screens */
        @media only screen and (max-width : 2560px) {
            top: 10px;
            right: 20%;
        }
        /* Large Devices, Wide Screens */
        @media only screen and (max-width : 1440px) {
            top: 20px;
            right: 55px;
        }
        /* Large Devices, Wide Screens */
        @media only screen and (max-width : 1200px) {

        }
        /* Small Devices, Tablets */
        @media only screen and (max-width : 768px) {
            top: 15px;
            right: 20px;
        }
        /* Extra Small Devices, Phones */
        @media only screen and (max-width : 480px) {
            width: 100%;
            position: static;
            margin-top: 25px;
            display: none;
        }
        
        &.responsive {
            display: block;
        }

        .navigation-list {
            list-style: none;
            font-size: 25px;
            font-weight: 400;
            display: inline-block;
            /* Extra Small Devices, Phones */
            @media only screen and (max-width : 480px) {
                display: block;
            }

            li {
                margin-bottom: 20px;
                display: block;
                box-sizing: border-box;
                float: left;
                width: 150px;
                text-align: center;
                span {
                    color: $white;
                    &:hover {
                        cursor: pointer;
                        color: $tertiary-color;
                    }
                }
                /* Large Devices, Wide Screens */
                @media only screen and (max-width : 1200px) {
                    width: 100px;
                    margin: 0 10px;
                }
                /* Small Devices, Tablets */
                @media only screen and (max-width : 768px) {
                    width: 100px;
                    margin: 0;
                }

                @media only screen and (max-width : 480px) {
                    display: block;
                    width: 100%;
                    text-align: center;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

#sunny-name {
    opacity: 0;
}

.hamburger-icon {
    display: none;
    @media only screen and (max-width : 480px) {
        position: absolute;
        display: block;
        right: 30px;
        top: 20px;
        font-size: 25px;
        color: $white;
    }
}


