@import 'colors';

#portfolio-container {
    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
        width: 100%;
    }
    .portfolio-header {
        text-align: center;
        background-color: $secondary-color;
        color: $white;
        padding: 50px;
        h1 {
            font-size: 3em;
        }
    }

    .portfolio-content {
        display: inline-block;
        width: 100%;
        .row {
            display: inline-block;
            margin: 0 auto;
            padding-bottom: 100px;
            &:last-child {
                &:after {
                    border: none;
                }
            }
            &:after {
                content: '';
                display: block;
                position: relative;
                top: 75px;
                width: 50%;
                margin: 0 auto;
                border-bottom: 1px solid $border-gray;
            }
            .content-row {
                display: inline-block;
                .project-description {
                    vertical-align: top;
                    box-sizing: border-box;
                    float: left;
                    width: 50%;
                    padding: 0 3em;
                    /* Large Devices, Wide Screens */
                    @media only screen and (max-width : 1200px) {
                        width: 60%;
                    }
                    /* Extra Small Devices, Phones */
                    @media only screen and (max-width : 480px) {
                        width: 100%;
                    }
                    a {
                        text-decoration: none;
                        color: $black;
                    }
                    h2 {
                        box-sizing: border-box;
                    }
                    &.right {
                        float: right;
                    }
                    p {
                        font-size: 1.3rem;
                        margin-top: 0;
                        line-height: 1.8em;
                        /* Large Devices, Wide Screens */
                        @media only screen and (max-width : 1200px) {
                            font-size: 1rem;
                        }
                    }
                }
                .project-image {
                    box-sizing: border-box;
                    float: right;
                    width: 40%;
                    padding: 0 3em;
                    vertical-align: top;
                    margin-top: 70px;
                    &.left {
                        float: left;
                        /* Large Devices, Wide Screens */
                        @media only screen and (max-width : 1200px) {
                            padding: 0 3em;
                        }
                        /* Small Devices, Tablets */
                        @media only screen and (max-width : 768px) {
                            padding: 0 3em;
                        }
                        /* Extra Small Devices, Phones */
                        @media only screen and (max-width : 480px) {
                            float: none;
                            margin: 0 auto;
                            padding: 0;
                            width: 300px;
                        }
                    }
                    /* Large Devices, Wide Screens */
                    @media only screen and (max-width : 1200px) {
                        padding-left: 0;
                    }
                    /* Small Devices, Tablets */
                    @media only screen and (max-width : 768px) {
                        padding-left: 0;
                    }
                    /* Extra Small Devices, Phones */
                    @media only screen and (max-width : 480px) {
                        float: none;
                        margin: 0 auto;
                        padding: 0;
                        width: 300px;
                    }
                    img {
                        height: 250px;
                        width: 250px;
                        &.large-width {
                            width: 350px;
                            /* Large Devices, Wide Screens */
                            @media only screen and (max-width : 1200px) {
                                width: 250px;
                            }
                            /* Small Devices, Tablets */
                            @media only screen and (max-width : 768px) {
                                width: 200px;
                            }
                            /* Extra Small Devices, Phones */
                            @media only screen and (max-width : 480px) {
                                height: 250px;
                                width: 300px;
                            }
                        }
                        /* Large Devices, Wide Screens */
                        @media only screen and (max-width : 1200px) {
                            height: 150px;
                            width: 150px;
                        }
                        /* Small Devices, Tablets */
                        @media only screen and (max-width : 768px) {
                            height: 150px;
                            width: 150px;

                        }
                    }
                }
            }

        }
    }
}
