@import 'colors';

#post-container {
  margin-top: 50px;

  .post-title {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 50px;

    .post-title-header {
      font-weight: 500;
      /* Extra Small Devices, Phones */
      @media only screen and (max-width : 480px) {
        margin-top: 80px;
      }
    }
    time {
      position: relative;
      top: -10px;
      color: #615b5b;
      font-size: 1em;
    }

    .post-categories {
      font-size: 0.8em;
      span {
        display: inline-block;
        border: 1px solid $border-gray;
        background-color: $secondary-color;
        opacity: 0.8;
        color: $white;
        padding: 5px 10px;
        box-sizing: border-box;
        margin-right: 10px;
        margin-top: 10px;
      }
    }
  }

  .markdown-body {
    margin: 0 auto;
    width: 75%;

    h1 {
      font-size: 2rem;
      font-weight: normal;
      color: rgb(51,51,51);
    }

    h2 {
      font-size: 24px;
      font-weight: normal;
      color: rgb(51,51,51);
    }

    p {
      line-height: 2;
      font-size: 1.25em;
      color: rgb(102,102,102);

      code {
        padding: 2px 4px;
        font-size: 14px;
        color: $inline-code-color;
        background: $inline-code-bg;
        border: 1px solid $inline-code-border;
        border-radius: 1px;
      }
    }

    blockquote {
      display: block;
      margin-bottom: 30px;
      padding: 0 0 4px 15px;
      font-family: Helvetica,Arial,sans-serif;
      font-size: 20px;
      font-style: italic;
      line-height: 1.6;
      color: $quote-font-color;
      border-left: 3px solid $tertiary-color;
      width: 100%;

      p {
        margin-bottom: 0;
      }
    }

    div {
      pre {
        code {
          font-size: 1.5em;
        }
      }
    }
  }



  .markdown-body ul,
  .markdown-body ol {
    padding-left: 30px;
  }

  .markdown-body ul {
    list-style-type: disc;
  }

  .markdown-body ol {
    list-style-type: decimal;
  }

  .markdown-body li,
  .markdown-body li p,
  .markdown-body dd,
  .markdown-body dd p {
    margin-bottom: 10px;
  }

  .markdown-body li pre,
  .markdown-body li pre.lines,
  .markdown-body dd pre,
  .markdown-body dd pre.lines {
    margin-left: -35px;
  }

  .markdown-body dt {
    font-weight: bold;
    font-style: italic;
  }

  .markdown-body dd {
    margin-left: 15px;
  }

  .markdown-body table {
    width: 673px;
    margin-left: -20px;
    margin-right: -20px;
  }

  .markdown-body tbody {
    border-top: 2px solid #557398;
    border-bottom: 2px solid #557398;
    background-color: #EBEFF4;
  }

  .markdown-body table td * {
    margin: 0;
  }

  .markdown-body td {
    border-right: 1px solid #557398;
    border-bottom: 1px solid #557398;
    padding: 5px;
  }

  .markdown-body td:first-child,
  .markdown-body th:first-child {
    width: 30%;
    padding-left: 20px;
  }

  .markdown-body td:last-child {
    border-right: 0 none;
  }

  .markdown-body th {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    padding: 5px;
  }

  .markdown-body tt {
    background-color:#3b3b3b;
    color: #d6d6d6;
    padding: 2px 3px;
  }
/*
  .markdown-body blockquote {
    font-style: italic;
    font-family:Georgia, serif;
    font-size: 17px;
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
    padding: 10px 20px;
    padding-left: 50px;
  }

  .markdown-body blockquote:before {
    font-style: italic;
    font-family: Georgia, serif;
    font-size: 90px;
    height: 90px;
    margin-left: -60px;
    margin-top: -25px;
    content: "‟";
    display: block;
    float: left;
  }
  */

  .markdown-body img {
    max-width: 100%;
    box-sizing: border-box;
  }
}
