@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.book-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
}

.book {
  max-width: 250px;
  max-height: 300px;
  margin-bottom: 36px;
}

@include breakpoint-md {
  .book {
    margin-right: 18px;
  }
}
