.landing .intro {
  position: relative;
  height: 450px;
  background: #bdc3c7;
  background: linear-gradient(to left, #bdc3c7, #000);
  /* Extra Small Devices, Phones */ }
  @media only screen and (max-width: 480px) {
    .landing .intro {
      margin-top: 40px; } }
  .landing .intro .intro-text {
    width: 50%;
    position: absolute;
    top: 50px;
    left: 50px;
    color: white;
    font-size: 30px;
    line-height: 50px;
    font-family: 'Valera Round', sans-serif;
    /* Large Devices, Wide Screens */
    /* Small Devices, Tablets */
    /* Extra Small Devices, Phones */ }
    @media only screen and (max-width: 1200px) {
      .landing .intro .intro-text {
        position: absolute;
        top: 20px;
        left: 40px;
        font-size: 25px;
        width: 60%; } }
    @media only screen and (max-width: 768px) {
      .landing .intro .intro-text {
        position: absolute;
        top: 50px;
        left: 30px;
        font-size: 20px;
        line-height: 40px;
        width: 60%;
        z-index: 1; } }
    @media only screen and (max-width: 480px) {
      .landing .intro .intro-text {
        font-size: 20px; } }
  .landing .intro .sunny-landing-image {
    width: 30%;
    height: 100%;
    position: absolute;
    right: 50px;
    background-image: url("../img/sunnyNoBG.png");
    background-size: auto 500px;
    background-repeat: no-repeat;
    /* Large Devices, Wide Screens */
    /* Small Devices, Tablets */ }
    .landing .intro .sunny-landing-image img {
      overflow: hidden;
      height: 500px; }
    @media only screen and (max-width: 1200px) {
      .landing .intro .sunny-landing-image {
        position: absolute;
        right: 0;
        width: 45%; } }
    @media only screen and (max-width: 768px) {
      .landing .intro .sunny-landing-image {
        position: absolute;
        right: 0;
        width: 55%; } }

.landing .recent-projects p {
  font-size: 35px;
  text-align: center; }
  .landing .recent-projects p:after {
    content: '';
    display: block;
    width: 33%;
    padding-top: 20px;
    margin: 0 auto;
    height: 5px;
    border-bottom: 1px solid #e8e8e8; }

.landing .recent-projects .project-list {
  text-align: center; }
  .landing .recent-projects .project-list .project {
    display: inline-block;
    height: 300px;
    width: 300px;
    border: 1px solid #e8e8e8;
    margin: 0 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    /* Large Devices, Wide Screens */ }
    .landing .recent-projects .project-list .project:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    @media only screen and (max-width: 768px) {
      .landing .recent-projects .project-list .project {
        height: 225px;
        width: 225px;
        margin-bottom: 50px; } }
    @media only screen and (max-width: 1200px) {
      .landing .recent-projects .project-list .project {
        height: 200px;
        width: 200px;
        margin-bottom: 50px; } }
  .landing .recent-projects .project-list #project1 {
    background-image: url("../img/stack.png");
    background-repeat: no-repeat;
    background-position: center;
    position: relative; }
    .landing .recent-projects .project-list #project1:after {
      content: 'Stack OnTop';
      line-height: 200px;
      font-size: 25px;
      color: #fff;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.8);
      opacity: 0;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      border-radius: 15px; }
    .landing .recent-projects .project-list #project1:hover:after {
      opacity: 1; }
    @media only screen and (max-width: 768px) {
      .landing .recent-projects .project-list #project1:before {
        content: 'Stack OnTop';
        font-size: 25px; }
      .landing .recent-projects .project-list #project1:after {
        content: '';
        background: rgba(0, 0, 0, 0.3); } }
  .landing .recent-projects .project-list #project2 {
    background-image: url("../img/binger1.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; }
    .landing .recent-projects .project-list #project2:after {
      content: 'Binger';
      line-height: 200px;
      font-size: 25px;
      color: #fff;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.8);
      opacity: 0;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      border-radius: 15px; }
    .landing .recent-projects .project-list #project2:hover:after {
      opacity: 1; }
    @media only screen and (max-width: 768px) {
      .landing .recent-projects .project-list #project2:before {
        content: 'Binger';
        font-size: 25px; }
      .landing .recent-projects .project-list #project2:after {
        content: '';
        background: rgba(0, 0, 0, 0.3); } }
  .landing .recent-projects .project-list #project3 {
    background-image: url("../img/swoleciety1.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; }
    .landing .recent-projects .project-list #project3:after {
      content: 'Swoleciety';
      line-height: 200px;
      font-size: 25px;
      color: #fff;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.8);
      opacity: 0;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      border-radius: 15px; }
    .landing .recent-projects .project-list #project3:hover:after {
      opacity: 1; }
    @media only screen and (max-width: 768px) {
      .landing .recent-projects .project-list #project3:before {
        content: 'Swoleciety';
        font-size: 25px; }
      .landing .recent-projects .project-list #project3:after {
        content: '';
        background: rgba(0, 0, 0, 0.3); } }

.landing .landing-footer {
  position: absolute;
  width: 100%;
  bottom: 100px; }
  .landing .landing-footer p {
    text-align: center;
    font-size: 20px; }
  .landing .landing-footer img {
    height: 50px;
    width: 100%;
    position: absolute;
    margin: 0 auto;
    animation: arrow-bounce 2s infinite linear; }

@keyframes arrow-bounce {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-5px); }
  100% {
    transform: translateY(0px); } }
