body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 500; }

.content-container {
  height: 100vh;
  width: 75%;
  float: right;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  /* Extra Small Devices, Phones */ }
  @media only screen and (max-width: 480px) {
    .content-container {
      width: 100%; } }

@font-face {
  font-family: 'Simplifica';
  src: url("../fonts/simplifica.ttf") format("truetype"); }
