#portfolio-container {
  /* Extra Small Devices, Phones */ }
  @media only screen and (max-width: 480px) {
    #portfolio-container {
      width: 100%; } }
  #portfolio-container .portfolio-header {
    text-align: center;
    background-color: #212121;
    color: white;
    padding: 50px; }
    #portfolio-container .portfolio-header h1 {
      font-size: 3em; }
  #portfolio-container .portfolio-content {
    display: inline-block;
    width: 100%; }
    #portfolio-container .portfolio-content .row {
      display: inline-block;
      margin: 0 auto;
      padding-bottom: 100px; }
      #portfolio-container .portfolio-content .row:last-child:after {
        border: none; }
      #portfolio-container .portfolio-content .row:after {
        content: '';
        display: block;
        position: relative;
        top: 75px;
        width: 50%;
        margin: 0 auto;
        border-bottom: 1px solid #e0e0e0; }
      #portfolio-container .portfolio-content .row .content-row {
        display: inline-block; }
        #portfolio-container .portfolio-content .row .content-row .project-description {
          vertical-align: top;
          box-sizing: border-box;
          float: left;
          width: 50%;
          padding: 0 3em;
          /* Large Devices, Wide Screens */
          /* Extra Small Devices, Phones */ }
          @media only screen and (max-width: 1200px) {
            #portfolio-container .portfolio-content .row .content-row .project-description {
              width: 60%; } }
          @media only screen and (max-width: 480px) {
            #portfolio-container .portfolio-content .row .content-row .project-description {
              width: 100%; } }
          #portfolio-container .portfolio-content .row .content-row .project-description h2 {
            box-sizing: border-box; }
          #portfolio-container .portfolio-content .row .content-row .project-description.right {
            float: right; }
          #portfolio-container .portfolio-content .row .content-row .project-description p {
            font-size: 1.3rem;
            margin-top: 0;
            line-height: 1.8em;
            /* Large Devices, Wide Screens */ }
            @media only screen and (max-width: 1200px) {
              #portfolio-container .portfolio-content .row .content-row .project-description p {
                font-size: 1rem; } }
        #portfolio-container .portfolio-content .row .content-row .project-image {
          box-sizing: border-box;
          float: right;
          width: 40%;
          padding: 0 3em;
          vertical-align: top;
          margin-top: 70px;
          /* Large Devices, Wide Screens */
          /* Small Devices, Tablets */
          /* Extra Small Devices, Phones */ }
          #portfolio-container .portfolio-content .row .content-row .project-image.left {
            float: left;
            /* Large Devices, Wide Screens */
            /* Small Devices, Tablets */
            /* Extra Small Devices, Phones */ }
            @media only screen and (max-width: 1200px) {
              #portfolio-container .portfolio-content .row .content-row .project-image.left {
                padding: 0 3em; } }
            @media only screen and (max-width: 768px) {
              #portfolio-container .portfolio-content .row .content-row .project-image.left {
                padding: 0 3em; } }
            @media only screen and (max-width: 480px) {
              #portfolio-container .portfolio-content .row .content-row .project-image.left {
                float: none;
                margin: 0 auto;
                padding: 0;
                width: 300px; } }
          @media only screen and (max-width: 1200px) {
            #portfolio-container .portfolio-content .row .content-row .project-image {
              padding-left: 0; } }
          @media only screen and (max-width: 768px) {
            #portfolio-container .portfolio-content .row .content-row .project-image {
              padding-left: 0; } }
          @media only screen and (max-width: 480px) {
            #portfolio-container .portfolio-content .row .content-row .project-image {
              float: none;
              margin: 0 auto;
              padding: 0;
              width: 300px; } }
          #portfolio-container .portfolio-content .row .content-row .project-image img {
            height: 250px;
            width: 250px;
            /* Large Devices, Wide Screens */
            /* Small Devices, Tablets */ }
            #portfolio-container .portfolio-content .row .content-row .project-image img.large-width {
              width: 350px;
              /* Large Devices, Wide Screens */
              /* Small Devices, Tablets */
              /* Extra Small Devices, Phones */ }
              @media only screen and (max-width: 1200px) {
                #portfolio-container .portfolio-content .row .content-row .project-image img.large-width {
                  width: 250px; } }
              @media only screen and (max-width: 768px) {
                #portfolio-container .portfolio-content .row .content-row .project-image img.large-width {
                  width: 200px; } }
              @media only screen and (max-width: 480px) {
                #portfolio-container .portfolio-content .row .content-row .project-image img.large-width {
                  height: 250px;
                  width: 300px; } }
            @media only screen and (max-width: 1200px) {
              #portfolio-container .portfolio-content .row .content-row .project-image img {
                height: 150px;
                width: 150px; } }
            @media only screen and (max-width: 768px) {
              #portfolio-container .portfolio-content .row .content-row .project-image img {
                height: 150px;
                width: 150px; } }
