.side-nav {
  width: 25%;
  height: 100vh;
  display: inline-block;
  border: 1px solid black;
  position: fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg.jpg");
  background-size: 100% 100%; }
  .side-nav .sunny-title {
    font-family: 'Raleway', sans-serif;
    display: block;
    height: 200px;
    text-align: center;
    color: white;
    font-size: 80px;
    position: relative;
    top: 75px;
    line-height: 80px; }
    .side-nav .sunny-title #sunny-fname {
      display: block;
      margin-bottom: 50px; }
    .side-nav .sunny-title #sunny-lname {
      display: block; }
  .side-nav .side-nav-list {
    list-style: none;
    text-align: center;
    line-height: 30px;
    width: 100%;
    padding: 0;
    font-size: 25px;
    font-weight: 400;
    margin-top: 150px; }
    .side-nav .side-nav-list li {
      margin-bottom: 20px; }
      .side-nav .side-nav-list li span {
        color: white; }
        .side-nav .side-nav-list li span:hover {
          cursor: pointer;
          color: dodgerblue; }
    .side-nav .side-nav-list:after {
      content: '';
      display: inline-block;
      width: 50%;
      border-bottom: 2px solid #696969; }
  .side-nav .social-media-list {
    text-align: justify;
    min-width: 50px;
    padding: 0 50px; }
    .side-nav .social-media-list li {
      display: inline-block; }
    .side-nav .social-media-list img {
      height: 30px;
      width: 30px; }
    .side-nav .social-media-list:after {
      content: '';
      display: inline-block;
      width: 100%; }
