.side-nav {
  width: 25%;
  height: 100vh;
  display: inline-block;
  border: 1px solid black;
  position: fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg.jpg");
  background-size: 100% 100%; }
  .side-nav .sunny-image {
    width: 150px;
    height: 150px;
    margin: 20px auto; }
    .side-nav .sunny-image img {
      border-radius: 50%; }
  .side-nav .sunny-title {
    display: block;
    height: 50px;
    text-align: center;
    color: white;
    font-size: 40px; }
  .side-nav .side-nav-list {
    list-style: none;
    text-align: center;
    line-height: 30px;
    width: 100%;
    padding: 0;
    font-size: 25px;
    font-weight: 400; }
    .side-nav .side-nav-list li {
      margin-bottom: 20px; }
      .side-nav .side-nav-list li span {
        color: white; }
        .side-nav .side-nav-list li span:hover {
          cursor: pointer;
          color: dodgerblue; }
    .side-nav .side-nav-list:after {
      content: '';
      display: inline-block;
      width: 50%;
      height: 5px;
      border-bottom: 2px solid #696969; }
  .side-nav .social-media-list {
    text-align: justify;
    min-width: 50px;
    padding: 0 50px; }
    .side-nav .social-media-list li {
      display: inline-block; }
    .side-nav .social-media-list img {
      height: 30px;
      width: 30px; }
    .side-nav .social-media-list:after {
      content: '';
      display: inline-block;
      width: 100%; }
