#portfolio-container {
    .portfolio-header {
        font-size: 1.5em;
        text-align: center;
    }

    .portfolio-content {
        display: inline-block;
        width: 100%;
        .row {
            display: inline-block;
            margin: 0 auto;
            padding-bottom: 100px;

            .content-row {
                display: inline-block;
                .project-description {
                    //border: 1px solid red;
                    vertical-align: top;
                    box-sizing: border-box;
                    float: left;
                    width: 50%;
                    padding: 0 3em;
                    h2 {
                        box-sizing: border-box;
                    }
                    &.right {
                        float: right;
                    }
                    p {
                        //border: 1px solid green;
                        font-size: 1.3rem;
                        margin-top: 0;
                        line-height: 1.8em;
                    }
                }
                .project-image {
                    box-sizing: border-box;
                    float: right;
                    width: 40%;
                    padding: 0 3em;
                    vertical-align: top;
                    //border: 1px solid blue;
                    margin-top: 70px;
                    &.left {
                        float: left;
                    }
                    img {
                        height: 250px;
                        width: 250px;
                        &.large-width {
                            width: 350px;
                        }
                    }
                }
            }

        }
    }
}
