.side-nav {
    width: 25%;
    height: 100vh;
    display: inline-block;
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url("../img/stock2.png");
    background-size: auto 100%;

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
        display: block;
        height: 50px;
        width: 100%;
        z-index: 2;
        background-image: none;
        background-color: teal;
    }


    .sunny-title {
        font-family: 'Simplifica', sans-serif;
        letter-spacing: 15px;

        display: block;
        height: 200px;
        text-align: center;
        color: white;
        font-size: 80px;
        position: relative;
        top: 75px;
        line-height: 80px;

        &:hover {
            cursor: pointer;
        }

        #sunny-fname {
            display: block;
            margin-bottom: 50px;
            /* Extra Small Devices, Phones */
            @media only screen and (max-width : 480px) {
                display: inline;
                margin-bottom: 0;
            }
        }

        #sunny-lname {
            display: block;
            /* Extra Small Devices, Phones */
            @media only screen and (max-width : 480px) {
                display: inline;
                margin-bottom: 0;
            }
        }

        /* Small Devices, Tablets */
        @media only screen and (max-width : 768px) {
            font-size: 60px;
            line-height: 50px;
            letter-spacing: 10px;
            text-align: center;
        }
        /* Extra Small Devices, Phones */
        @media only screen and (max-width : 480px) {
            font-size: 30px;
            position: relative;
            text-align: left;
            left: 40px;
            top: 10px;
            height: 29px;
        }

    }

    .side-nav-list {
        list-style: none;
        text-align: center;
        line-height: 30px;
        width: 100%;
        padding: 0;
        font-size: 25px;
        font-weight: 400;
        margin-top: 150px;

        /* Extra Small Devices, Phones */
        @media only screen and (max-width : 480px) {
            margin: 0;
            text-align: center;
            font-size: 20px;
            position: relative;
            background-color: #2f4f4f;
            &.responsive {
                position: relative;
                top: 20px;
                height: 300px;
                box-sizing: border-box;
                padding-top: 10px;
                li {
                    display: block;
                    position: relative;
                    top: 10px;
                    left: 10px;
                    height: 30px;
                    width: 100%;
                    margin: 0 0 15px 0;
                    box-sizing: border-box;
                    span {
                        &:hover {
                            color: black;
                        }
                    }
                    &:active {
                        background-color: teal;
                        color: white;
                    }
                }
            }
        }

        li {
            margin-bottom: 20px;
            span {
                color: white;
                &:hover {
                    cursor: pointer;
                    color: dodgerblue;
                }
            }
            @media only screen and (max-width : 480px) {
                display: none;
            }
        }
        &:after {
            content: '';
            display: inline-block;
            width: 50%;
            border-bottom: 2px solid #696969;
            /* Extra Small Devices, Phones */
            @media only screen and (max-width : 480px) {
                display: none;
            }
        }
    }

    .hamburger-icon {
        display: none;
        @media only screen and (max-width : 480px) {
            position: absolute;
            display: block;
            right: 30px;
            top: 10px;
            font-size: 25px;
            color: white;
        }
    }

    .social-media-list {
        box-sizing: border-box;
        text-align: justify;
        min-width: 50px;
        padding: 0 50px;

        li {
            display: inline-block;

            /* Small Devices, Tablets */
            @media only screen and (max-width : 768px) {
                display: block;
                text-align: center;
                margin-bottom: 10px;
            }
            /* Extra Small Devices, Phones */
            @media only screen and (max-width : 480px) {
                position: relative;
                top: -50px;
                display: none;
            }
        }
        &.responsive {
            li {
                display: inline-block;
            }
        }
        img {
            height: 30px;
            width: 30px;
            @media only screen and (max-width : 480px) {
                height: 25px;
                width: 25px;
            }
        }
        &:after {
            content: '';
            display: inline-block;
            width: 100%;
        }
    }

}

