.side-nav {
    width: 25%;
    height: 100vh;
    display: inline-block;
    border: 1px solid black;
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url("../img/bg.jpg");
    background-size: 100% 100%;


    .sunny-title {
        display: block;
        height: 200px;
        text-align: center;
        color: white;
        font-size: 100px;
        position: relative;
        top: 75px;
        line-height: 80px;


        #sunny-fname {
            display: block;
            margin-bottom: 50px
        }

        #sunny-lname {
            display: block;
        }
    }

    .side-nav-list {
        list-style: none;
        text-align: center;
        line-height: 30px;
        width: 100%;
        padding: 0;
        font-size: 25px;
        font-weight: 400;
        margin-top: 150px;
        li {
            margin-bottom: 20px;
            span {
                color: white;
                &:hover {
                    cursor: pointer;
                    color: dodgerblue;
                }
            }
        }
        &:after {
            content: '';
            display: inline-block;
            width: 50%;
            height: 5px;
            border-bottom: 2px solid #696969;
        }
    }
    .social-media-list {
        text-align: justify;
        min-width: 50px;
        padding: 0 50px;
        li {
            display: inline-block;
        }
        img {
            height: 30px;
            width: 30px;
        }
        &:after {
            content: '';
            display: inline-block;
            width: 100%;
        }
    }

}

